/* css/about/about.css */

.about-fullimg {
  position: relative;
  width: 100vw;          /* Ancho total de la ventana */
  height: 90vh;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: none;       /* Ignoramos el límite del contenedor padre */
  overflow: hidden;
  background: #F2EDE6; /* Cambia este color por el que prefieras */
  padding-top: 80px;    /* Espacio entre el borde superior y la imagen */

}

/* Aseguramos que la etiqueta <picture> no genere espacios extra */
.about-fullimg picture {
  display: block;
  width: 100%;
  height: 100%;
}

/* Imagen real */
.img-about {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;     /* Mantiene la proporción sin deformar */
  object-position: center;
}

/* Ajustes Mobile */
@media (max-width: 600px) {
  .about-fullimg {
    display: none;
  }
}